@import "../variables.scss";
.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .left_content{
    h1{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 5vw;
      width: 50%;
      margin-left: 10%;
      font-weight: 600;
      color: $text-color;
      margin-top: 18%;
    }
    p{
      position: absolute;
      bottom: 0;
      color: $text-color;
      margin-left: 2.5%;
    }
  }
  .right_content{
    img{
      position: relative;
      width: 100%;
      height: 80%;
      top: 8%;
    }
  }
}
