@import '../variables.scss';
.table_card{
  position: absolute;
  left: 8.5%;
  margin-top: 3%;
  width: 80%;
  padding: 10px;
}
table {
    position: relative;
    width: 100%;
  background-color: #f0f0f0;
  text-align: center;
  font-family: $font;
  th{
    font-weight: 800;
    font-size: 1.4vw;
    padding: 15px;
  }
  .table_line{
    margin-top: 10px;
    text-align: center;
    td{      
      padding: 10px;
    }
  }
}
